<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Vue</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>

<body>

<div id="app">
	<div>
		<p>{{ message }}</p>
		<p>Hello {{ name }}</p>
		<p>{{ age }}</p>
		<a v-bind:href="baidu">baidu</a>
	</div>
	
	<div>
		<button v-on:click="add(5)">Add</button>
		<button v-on:click="subtract(5)">Sub</button>
		<button v-on:dblclick="add(10)">Add</button>
		<button v-on:dblclick="subtract(10)">Sub</button>
		
		<input v-model="input" placeholder="edit me">
		<p>Message is: {{ input }}</p>
	</div>
	
</div>


<script type="text/javascript">

var app=new Vue({
	el: '#app',
	data: {
		message: 'Hello Vue.js',
		name: 'Kirby',
		baidu: 'www.baidu.com',
		age: 100,
		input: "12"
	},
	methods: {
		
		add: function(arg){
			this.age += arg;
		},
		subtract: function(arg){
			this.age -= arg;
		}
	}
})

</script>

</body>
</html>