<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scal=1">
    <link th:href="@{/bootstrap3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap3.3.5/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <title>主页</title>
</head>
<body>

<button class="btn btn-success">hello world</button>

<script th:src="@{/jquery/jquery-1.9.1.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap3.3.5/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>